<div class="container">
  <h1>Welcome to Sinatra!</h1>
  <p>Hello, world!</p>

  <% if @anagram %>
    <p>Your anagrams: "<span><%= @anagram %></span>"</p>
  <% end %>


   <form action="/word" method="post">
    Enter a word:
    <br>
    <input type="text" name="user_input">
    <input type="submit" value="Find anagrams!">
  </form>


</div>
